
<!DOCTYPE html>
<html class="no-js css-menubar" lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>图片 - UI示例 - Admui</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 移动设备 viewport -->
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="author" content="admui.com">
    <!-- 360浏览器默认使用Webkit内核 -->
    <meta name="renderer" content="webkit">
    <!-- 禁止搜索引擎抓取 -->
    <meta name="robots" content="nofollow">
    <!-- 禁止百度SiteAPP转码 -->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <!-- Chrome浏览器添加桌面快捷方式（安卓） -->
    <link rel="icon" type="image/png" href="../../../../public/images/favicon.png">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Safari浏览器添加到主屏幕（IOS） -->
    <link rel="icon" sizes="192x192" href="../../../../public/images/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Admui">
    <!-- Win8标题栏及ICON图标 -->
    <link rel="apple-touch-icon-precomposed" href="../../../../public/images/apple-touch-icon.png">
    <meta name="msapplication-TileImage" content="../../../../public/images/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#62a8ea">
    
    <!--[if lte IE 9]>
    <meta http-equiv="refresh" content="0; url='http://www.admui.com/ie'"/>
    <![endif]-->
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../../../public/themes/global/css/bootstrap.css">
    
    <!-- 字体图标 CSS -->
    <link rel="stylesheet" href="../../../../public/fonts/web-icons/web-icons.css">
    
    <!-- Site CSS -->
    <link rel="stylesheet" href="../../../../public/themes/base/css/site.css" id="admui-siteStyle">
    
    <!-- 插件 CSS -->
    
    
    <!-- Page CSS -->
    
    
    <!-- 插件 -->
    <script src="../../../../public/vendor/jquery/jquery.min.js"></script>
    <script src="../../../../public/vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../../../../public/vendor/lodash/lodash.min.js"></script>
</head>
<body data-theme="base">

<div class="page animation-fade">
    <div class="page-header">
        <h1 class="page-title">图片</h1>
    </div>
    <div class="page-content">

        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">图片样式</h3>
            </div>
            <div class="panel-body container-fluid">
                <div class="row row-lg">
                    <div class="col-xxl-6">

                        <div class="example-wrap">
                            <h4 class="example-title">图片形状</h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="example">
                                        <img class="rounded" width="150" height="150" src="../../../../public/images/photos/view-9.jpg"
                                             alt="...">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="example">
                                        <img class="rounded-circle" width="150" height="150" src="../../../../public/images/photos/view-9.jpg"
                                             alt="...">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="example">
                                        <img width="150" height="150" src="../../../../public/images/photos/view-9.jpg" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xxl-6">

                        <div class="example-wrap">
                            <h4 class="example-title">缩略图 - 默认</h4>
                            <div class="row">
                                <div class="col-sm-6 col-md-3">
                                    <div class="example">
                                        <a class="card" href="javascript:;">
                                            <img class="img-fluid w-full" src="../../../../public/images/photos/view-9.jpg" alt="...">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="example">
                                        <a class="card" href="javascript:;">
                                            <img class="img-fluid w-full" src="../../../../public/images/photos/view-9.jpg" alt="...">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="example">
                                        <a class="card" href="javascript:;">
                                            <img class="img-fluid w-full" src="../../../../public/images/photos/view-9.jpg" alt="...">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="example">
                                        <a class="card" href="javascript:;">
                                            <img class="img-fluid w-full" src="../../../../public/images/photos/view-9.jpg" alt="...">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row row-lg">
                    <div class="col-xxl-6">

                        <div class="example-wrap">
                            <h4 class="example-title">边框</h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="example">
                                        <img class="rounded img-bordered img-bordered-primary" width="150" height="150"
                                             src="../../../../public/images/photos/view-9.jpg" alt="...">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="example">
                                        <img class="rounded-circle img-bordered img-bordered-orange" width="150" height="150"
                                             src="../../../../public/images/photos/view-9.jpg" alt="...">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="example">
                                        <img class="rounded img-bordered img-bordered-green" width="150" height="150"
                                             src="../../../../public/images/photos/view-9.jpg" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xxl-6">

                        <div class="example-wrap">
                            <h4 class="example-title">缩略图 - 自定义内容</h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="example">
                                        <div class="card">
                                            <img class="card-img-top w-full" src="../../../../public/images/photos/view-9.jpg"
                                                 alt="...">
                                            <div class="card-block">
                                                <h4 class="card-title">标题</h4>
                                                <p class="card-title">描述内容</p>
                                                <a class="btn btn-primary card-link mr-5" href="javascript:;" role="button">按钮</a>
                                                <a class="btn btn-default card-link" href="javascript:;" role="button">按钮</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="example">
                                        <div class="card">
                                            <img class="card-img-top w-full" src="../../../../public/images/photos/view-9.jpg"
                                                 alt="...">
                                            <div class="card-block">
                                                <h4 class="card-title">标题</h4>
                                                <p class="card-title">描述内容</p>
                                                <a class="btn btn-primary card-link mr-5" href="javascript:;" role="button">按钮</a>
                                                <a class="btn btn-default card-link" href="javascript:;" role="button">按钮</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="example">
                                        <div class="card">
                                            <img class="card-img-top w-full" src="../../../../public/images/photos/view-9.jpg"
                                                 alt="...">
                                            <div class="card-block">
                                                <h4 class="card-title">标题</h4>
                                                <p class="card-title">描述内容</p>
                                                <a class="btn btn-primary card-link mr-5" href="javascript:;" role="button">按钮</a>
                                                <a class="btn btn-default card-link" href="javascript:;" role="button">按钮</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="example-wrap">
                    <h4 class="example-title">响应式</h4>
                    <p>通过在
                        <code>&lt;img&gt;</code> 标签添加
                        <code>.img-fluid</code> 类来让图片支持响应式设计。
                        <code>.img-fluid</code> 类会将
                        <code>max-width: 100%;</code> 和
                        <code>height: auto;</code> 样式应用在图片上。</p>
                    <div class="example">
                        <img class="img-fluid" src="../../../../public/images/photos/view-9.jpg" alt="...">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- 插件 -->
    <script src="../../../../public/vendor/matchheight/jquery.matchHeight.min.js"></script>

    <script src="../../../../public/themes/base/js/app.js"></script>

<!-- Page JS -->

</body>
</html>