
<!DOCTYPE html>
<html class="no-js css-menubar" lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>面板动画 - UI示例 - Admui</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 移动设备 viewport -->
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="author" content="admui.com">
    <!-- 360浏览器默认使用Webkit内核 -->
    <meta name="renderer" content="webkit">
    <!-- 禁止搜索引擎抓取 -->
    <meta name="robots" content="nofollow">
    <!-- 禁止百度SiteAPP转码 -->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <!-- Chrome浏览器添加桌面快捷方式（安卓） -->
    <link rel="icon" type="image/png" href="../../../../public/images/favicon.png">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Safari浏览器添加到主屏幕（IOS） -->
    <link rel="icon" sizes="192x192" href="../../../../public/images/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Admui">
    <!-- Win8标题栏及ICON图标 -->
    <link rel="apple-touch-icon-precomposed" href="../../../../public/images/apple-touch-icon.png">
    <meta name="msapplication-TileImage" content="../../../../public/images/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#62a8ea">
    
    <!--[if lte IE 9]>
    <meta http-equiv="refresh" content="0; url='http://www.admui.com/ie'"/>
    <![endif]-->
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../../../public/themes/global/css/bootstrap.css">
    
    <!-- 字体图标 CSS -->
    <link rel="stylesheet" href="../../../../public/fonts/web-icons/web-icons.css">
    
    <!-- Site CSS -->
    <link rel="stylesheet" href="../../../../public/themes/base/css/site.css" id="admui-siteStyle">
    
    <!-- 插件 CSS -->
    
    
    <!-- Page CSS -->
    <link rel="stylesheet" href="../../../../public/css/examples/components/layouts/panel-transition.css">
    
    <!-- 插件 -->
    <script src="../../../../public/vendor/jquery/jquery.min.js"></script>
    <script src="../../../../public/vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../../../../public/vendor/lodash/lodash.min.js"></script>
</head>
<body data-theme="base">

<div class="page animation-fade">
    <div class="page-header">
        <h1 class="page-title">面板动画</h1>
        <div class="page-header-actions">
            <div class="btn-group btn-group-sm" id="withBtnGroup" aria-label="面板动画" role="group">
                <div class="dropdown">
                    <button type="button" class="btn btn-pure" data-toggle="dropdown" aria-expanded="false">
                        切换动画效果
                        <span class="icon wb-chevron-down-mini" aria-hidden="true"></span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <a class="dropdown-item" data-type="fade" href="javascript:;">Fade</a>
                        <a class="dropdown-item" data-type="scale-up" href="javascript:;">Scale Up</a>
                        <a class="dropdown-item" data-type="slide-left" href="javascript:;">Slide Left</a>
                        <a class="dropdown-item" data-type="slide-right" href="javascript:;">Slide Right</a>
                        <a class="dropdown-item" data-type="slide-top" href="javascript:;">Slide Top</a>
                        <a class="dropdown-item" data-type="slide-bottom" href="javascript:;">Slide Bottom</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="exampleTransition" class="page-content container-fluid" data-plugin="animateList">
        <ul class="blocks-xs-100 blocks-md-2 blocks-xlg-3">
            <li>
                <div class="panel panel-bordered">
                    <div class="panel-heading">
                        <h3 class="panel-title">本篇引语 - 1</h3>
                        <div class="panel-actions">
                            <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                               data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                            <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                               aria-hidden="true"></a>
                            <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                            <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>
                            《学而》是《论语》第一篇的篇名。《论语》中各篇一般都是以第一章的前二三个字作为该篇的篇名。《学而》一篇包括16章，内容涉及诸多方面。其中重点是「吾日三省吾身」；「节用而爱人，使民以时」；「礼之用，和为贵」以及仁、孝、信等道德范畴。</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="panel panel-bordered">
                    <div class="panel-heading">
                        <h3 class="panel-title">本篇引语 - 2</h3>
                        <div class="panel-actions">
                            <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                               data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                            <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                               aria-hidden="true"></a>
                            <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                            <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>
                            《学而》是《论语》第一篇的篇名。《论语》中各篇一般都是以第一章的前二三个字作为该篇的篇名。《学而》一篇包括16章，内容涉及诸多方面。其中重点是「吾日三省吾身」；「节用而爱人，使民以时」；「礼之用，和为贵」以及仁、孝、信等道德范畴。</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="panel panel-bordered">
                    <div class="panel-heading">
                        <h3 class="panel-title">本篇引语 - 3</h3>
                        <div class="panel-actions">
                            <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                               data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                            <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                               aria-hidden="true"></a>
                            <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                            <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>
                            《学而》是《论语》第一篇的篇名。《论语》中各篇一般都是以第一章的前二三个字作为该篇的篇名。《学而》一篇包括16章，内容涉及诸多方面。其中重点是「吾日三省吾身」；「节用而爱人，使民以时」；「礼之用，和为贵」以及仁、孝、信等道德范畴。</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="panel panel-bordered">
                    <div class="panel-heading">
                        <h3 class="panel-title">本篇引语 - 4</h3>
                        <div class="panel-actions">
                            <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                               data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                            <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                               aria-hidden="true"></a>
                            <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                            <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>
                            《学而》是《论语》第一篇的篇名。《论语》中各篇一般都是以第一章的前二三个字作为该篇的篇名。《学而》一篇包括16章，内容涉及诸多方面。其中重点是「吾日三省吾身」；「节用而爱人，使民以时」；「礼之用，和为贵」以及仁、孝、信等道德范畴。</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="panel panel-bordered">
                    <div class="panel-heading">
                        <h3 class="panel-title">本篇引语 - 5</h3>
                        <div class="panel-actions">
                            <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                               data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                            <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                               aria-hidden="true"></a>
                            <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                            <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>
                            《学而》是《论语》第一篇的篇名。《论语》中各篇一般都是以第一章的前二三个字作为该篇的篇名。《学而》一篇包括16章，内容涉及诸多方面。其中重点是「吾日三省吾身」；「节用而爱人，使民以时」；「礼之用，和为贵」以及仁、孝、信等道德范畴。</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="panel panel-bordered">
                    <div class="panel-heading">
                        <h3 class="panel-title">本篇引语 - 6</h3>
                        <div class="panel-actions">
                            <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                               data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                            <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                               aria-hidden="true"></a>
                            <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                            <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>
                            《学而》是《论语》第一篇的篇名。《论语》中各篇一般都是以第一章的前二三个字作为该篇的篇名。《学而》一篇包括16章，内容涉及诸多方面。其中重点是「吾日三省吾身」；「节用而爱人，使民以时」；「礼之用，和为贵」以及仁、孝、信等道德范畴。</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="panel panel-bordered">
                    <div class="panel-heading">
                        <h3 class="panel-title">本篇引语 - 7</h3>
                        <div class="panel-actions">
                            <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                               data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                            <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                               aria-hidden="true"></a>
                            <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                            <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>
                            《学而》是《论语》第一篇的篇名。《论语》中各篇一般都是以第一章的前二三个字作为该篇的篇名。《学而》一篇包括16章，内容涉及诸多方面。其中重点是「吾日三省吾身」；「节用而爱人，使民以时」；「礼之用，和为贵」以及仁、孝、信等道德范畴。</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="panel panel-bordered">
                    <div class="panel-heading">
                        <h3 class="panel-title">本篇引语 - 8</h3>
                        <div class="panel-actions">
                            <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                               data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                            <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                               aria-hidden="true"></a>
                            <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                            <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>
                            《学而》是《论语》第一篇的篇名。《论语》中各篇一般都是以第一章的前二三个字作为该篇的篇名。《学而》一篇包括16章，内容涉及诸多方面。其中重点是「吾日三省吾身」；「节用而爱人，使民以时」；「礼之用，和为贵」以及仁、孝、信等道德范畴。</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="panel panel-bordered">
                    <div class="panel-heading">
                        <h3 class="panel-title">本篇引语 - 9</h3>
                        <div class="panel-actions">
                            <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                               data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                            <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                               aria-hidden="true"></a>
                            <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                            <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>
                            《学而》是《论语》第一篇的篇名。《论语》中各篇一般都是以第一章的前二三个字作为该篇的篇名。《学而》一篇包括16章，内容涉及诸多方面。其中重点是「吾日三省吾身」；「节用而爱人，使民以时」；「礼之用，和为贵」以及仁、孝、信等道德范畴。</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="panel panel-bordered">
                    <div class="panel-heading">
                        <h3 class="panel-title">本篇引语 - 10</h3>
                        <div class="panel-actions">
                            <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                               data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                            <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                               aria-hidden="true"></a>
                            <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                            <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>
                            《学而》是《论语》第一篇的篇名。《论语》中各篇一般都是以第一章的前二三个字作为该篇的篇名。《学而》一篇包括16章，内容涉及诸多方面。其中重点是「吾日三省吾身」；「节用而爱人，使民以时」；「礼之用，和为贵」以及仁、孝、信等道德范畴。</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="panel panel-bordered">
                    <div class="panel-heading">
                        <h3 class="panel-title">本篇引语 - 11</h3>
                        <div class="panel-actions">
                            <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                               data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                            <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                               aria-hidden="true"></a>
                            <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                            <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>
                            《学而》是《论语》第一篇的篇名。《论语》中各篇一般都是以第一章的前二三个字作为该篇的篇名。《学而》一篇包括16章，内容涉及诸多方面。其中重点是「吾日三省吾身」；「节用而爱人，使民以时」；「礼之用，和为贵」以及仁、孝、信等道德范畴。</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="panel panel-bordered">
                    <div class="panel-heading">
                        <h3 class="panel-title">本篇引语 - 12</h3>
                        <div class="panel-actions">
                            <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                               data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                            <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                               aria-hidden="true"></a>
                            <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                            <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>
                            《学而》是《论语》第一篇的篇名。《论语》中各篇一般都是以第一章的前二三个字作为该篇的篇名。《学而》一篇包括16章，内容涉及诸多方面。其中重点是「吾日三省吾身」；「节用而爱人，使民以时」；「礼之用，和为贵」以及仁、孝、信等道德范畴。</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="panel panel-bordered">
                    <div class="panel-heading">
                        <h3 class="panel-title">本篇引语 - 13</h3>
                        <div class="panel-actions">
                            <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                               data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                            <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                               aria-hidden="true"></a>
                            <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                            <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>
                            《学而》是《论语》第一篇的篇名。《论语》中各篇一般都是以第一章的前二三个字作为该篇的篇名。《学而》一篇包括16章，内容涉及诸多方面。其中重点是「吾日三省吾身」；「节用而爱人，使民以时」；「礼之用，和为贵」以及仁、孝、信等道德范畴。</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="panel panel-bordered">
                    <div class="panel-heading">
                        <h3 class="panel-title">本篇引语 - 14</h3>
                        <div class="panel-actions">
                            <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                               data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                            <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                               aria-hidden="true"></a>
                            <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                            <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>
                            《学而》是《论语》第一篇的篇名。《论语》中各篇一般都是以第一章的前二三个字作为该篇的篇名。《学而》一篇包括16章，内容涉及诸多方面。其中重点是「吾日三省吾身」；「节用而爱人，使民以时」；「礼之用，和为贵」以及仁、孝、信等道德范畴。</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="panel panel-bordered">
                    <div class="panel-heading">
                        <h3 class="panel-title">本篇引语 - 15</h3>
                        <div class="panel-actions">
                            <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                               data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                            <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                               aria-hidden="true"></a>
                            <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                            <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>
                            《学而》是《论语》第一篇的篇名。《论语》中各篇一般都是以第一章的前二三个字作为该篇的篇名。《学而》一篇包括16章，内容涉及诸多方面。其中重点是「吾日三省吾身」；「节用而爱人，使民以时」；「礼之用，和为贵」以及仁、孝、信等道德范畴。</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="panel panel-bordered">
                    <div class="panel-heading">
                        <h3 class="panel-title">本篇引语 - 16</h3>
                        <div class="panel-actions">
                            <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                               data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                            <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                               aria-hidden="true"></a>
                            <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                            <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>
                            《学而》是《论语》第一篇的篇名。《论语》中各篇一般都是以第一章的前二三个字作为该篇的篇名。《学而》一篇包括16章，内容涉及诸多方面。其中重点是「吾日三省吾身」；「节用而爱人，使民以时」；「礼之用，和为贵」以及仁、孝、信等道德范畴。</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="panel panel-bordered">
                    <div class="panel-heading">
                        <h3 class="panel-title">本篇引语 - 17</h3>
                        <div class="panel-actions">
                            <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                               data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                            <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                               aria-hidden="true"></a>
                            <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                            <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>
                            《学而》是《论语》第一篇的篇名。《论语》中各篇一般都是以第一章的前二三个字作为该篇的篇名。《学而》一篇包括16章，内容涉及诸多方面。其中重点是「吾日三省吾身」；「节用而爱人，使民以时」；「礼之用，和为贵」以及仁、孝、信等道德范畴。</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="panel panel-bordered">
                    <div class="panel-heading">
                        <h3 class="panel-title">本篇引语 - 18</h3>
                        <div class="panel-actions">
                            <a class="panel-action icon wb-refresh" data-toggle="panel-refresh" data-load-type="round-circle"
                               data-load-callback="customRefreshCallback" aria-hidden="true"></a>
                            <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse"
                               aria-hidden="true"></a>
                            <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
                            <a class="panel-action icon wb-close" data-toggle="panel-close" aria-hidden="true"></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>
                            《学而》是《论语》第一篇的篇名。《论语》中各篇一般都是以第一章的前二三个字作为该篇的篇名。《学而》一篇包括16章，内容涉及诸多方面。其中重点是「吾日三省吾身」；「节用而爱人，使民以时」；「礼之用，和为贵」以及仁、孝、信等道德范畴。</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- 插件 -->
    <script src="../../../../public/vendor/matchheight/jquery.matchHeight.min.js"></script>
<script src="../../../../public/vendor/screenfull/screenfull.min.js"></script>

    <script src="../../../../public/themes/base/js/app.js"></script>

<!-- Page JS -->
<script src="../../../../public/js/examples/components/layouts/panel-transition.js"></script>
</body>
</html>