
<!DOCTYPE html>
<html class="no-js css-menubar" lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>引用 - UI示例 - Admui</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 移动设备 viewport -->
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="author" content="admui.com">
    <!-- 360浏览器默认使用Webkit内核 -->
    <meta name="renderer" content="webkit">
    <!-- 禁止搜索引擎抓取 -->
    <meta name="robots" content="nofollow">
    <!-- 禁止百度SiteAPP转码 -->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <!-- Chrome浏览器添加桌面快捷方式（安卓） -->
    <link rel="icon" type="image/png" href="../../../../public/images/favicon.png">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Safari浏览器添加到主屏幕（IOS） -->
    <link rel="icon" sizes="192x192" href="../../../../public/images/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Admui">
    <!-- Win8标题栏及ICON图标 -->
    <link rel="apple-touch-icon-precomposed" href="../../../../public/images/apple-touch-icon.png">
    <meta name="msapplication-TileImage" content="../../../../public/images/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#62a8ea">
    
    <!--[if lte IE 9]>
    <meta http-equiv="refresh" content="0; url='http://www.admui.com/ie'"/>
    <![endif]-->
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../../../public/themes/global/css/bootstrap.css">
    
    <!-- 字体图标 CSS -->
    <link rel="stylesheet" href="../../../../public/fonts/web-icons/web-icons.css">
    
    <!-- Site CSS -->
    <link rel="stylesheet" href="../../../../public/themes/base/css/site.css" id="admui-siteStyle">
    
    <!-- 插件 CSS -->
    
    
    <!-- Page CSS -->
    
    
    <!-- 插件 -->
    <script src="../../../../public/vendor/jquery/jquery.min.js"></script>
    <script src="../../../../public/vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../../../../public/vendor/lodash/lodash.min.js"></script>
</head>
<body data-theme="base">

<div class="page animation-fade">
    <div class="page-header">
        <h1 class="page-title">引用</h1>
        <div class="page-header-actions">
            <form>
                <div class="input-search input-search-dark">
                    <i class="input-search-icon wb-search" aria-hidden="true"></i>
                    <input type="text" class="form-control" name="" placeholder="搜索...">
                </div>
            </form>
        </div>
    </div>
    <div class="page-content">
        <div class="panel">
            <div class="panel-body container-fluid">
                <div class="row row-lg">
                    <div class="col-xl-6">

                        <div class="example-wrap">
                            <h4 class="example-title">默认</h4>
                            <p>
                                <code>&lt;blockquote&gt;</code> 中可以使用任意HTML，推荐使用
                                <code>&lt;p&gt;</code> 。</p>
                            <div class="example">
                                <blockquote class="blockquote">
                                    <p>风吹柳花满店香，吴姬压酒劝客尝。</p>
                                </blockquote>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-6">

                        <div class="example-wrap">
                            <h4 class="example-title">署名</h4>
                            <p>添加
                                <code>&lt;footer&gt;</code> 标签，其中也可包含
                                <code>&lt;cite&gt;</code> 标签。</p>
                            <div class="example">
                                <blockquote class="blockquote">
                                    <p>风吹柳花满店香，吴姬压酒劝客尝。</p>
                                    <footer>李白
                                        <cite title="《金陵酒肆留别》">《金陵酒肆留别》</cite>
                                    </footer>
                                </blockquote>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row row-lg">
                    <div class="col-xl-6">

                        <div class="example-wrap">
                            <h4 class="example-title">右对齐</h4>
                            <p>添加
                                <code>.blockquote-reverse</code> 类来实现内容右对齐。 </p>
                            <div class="example">
                                <blockquote class="blockquote blockquote-reverse">
                                    <p>风吹柳花满店香，吴姬压酒劝客尝。</p>
                                    <footer>李白
                                        <cite title="《金陵酒肆留别》">《金陵酒肆留别》</cite>
                                    </footer>
                                </blockquote>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-6">

                        <div class="example-wrap">
                            <h4 class="example-title">引号</h4>
                            <p>添加
                                <code>.cover-quote</code> 类来实现。 </p>
                            <div class="example">
                                <blockquote class="blockquote cover-quote">
                                    风吹柳花满店香，吴姬压酒劝客尝。
                                    <footer>李白
                                        <cite title="《金陵酒肆留别》">《金陵酒肆留别》</cite>
                                    </footer>
                                </blockquote>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row row-lg">
                    <div class="col-12">

                        <div class="example-wrap">
                            <h4 class="example-title">样式</h4>
                            <div class="row row-lg">
                                <div class="col-md-6">
                                    <div class="example">
                                        <blockquote class="blockquote blockquote-success">
                                            <p>风吹柳花满店香，吴姬压酒劝客尝。 </p>
                                            <footer>李白
                                                <cite title="《金陵酒肆留别》">《金陵酒肆留别》</cite>
                                            </footer>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="example">
                                        <blockquote class="blockquote blockquote-info">
                                            <p>风吹柳花满店香，吴姬压酒劝客尝。 </p>
                                            <footer>李白
                                                <cite title="《金陵酒肆留别》">《金陵酒肆留别》</cite>
                                            </footer>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="example">
                                        <blockquote class="blockquote blockquote-warning">
                                            <p>风吹柳花满店香，吴姬压酒劝客尝。 </p>
                                            <footer>李白
                                                <cite title="《金陵酒肆留别》">《金陵酒肆留别》</cite>
                                            </footer>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="example">
                                        <blockquote class="blockquote blockquote-danger">
                                            <p>风吹柳花满店香，吴姬压酒劝客尝。 </p>
                                            <footer>李白
                                                <cite title="《金陵酒肆留别》">《金陵酒肆留别》</cite>
                                            </footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 插件 -->
    <script src="../../../../public/vendor/matchheight/jquery.matchHeight.min.js"></script>

    <script src="../../../../public/themes/base/js/app.js"></script>

<!-- Page JS -->

</body>
</html>