
<!DOCTYPE html>
<html class="no-js css-menubar" lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>覆盖层 - UI示例 - Admui</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 移动设备 viewport -->
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="author" content="admui.com">
    <!-- 360浏览器默认使用Webkit内核 -->
    <meta name="renderer" content="webkit">
    <!-- 禁止搜索引擎抓取 -->
    <meta name="robots" content="nofollow">
    <!-- 禁止百度SiteAPP转码 -->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <!-- Chrome浏览器添加桌面快捷方式（安卓） -->
    <link rel="icon" type="image/png" href="../../../../public/images/favicon.png">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Safari浏览器添加到主屏幕（IOS） -->
    <link rel="icon" sizes="192x192" href="../../../../public/images/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Admui">
    <!-- Win8标题栏及ICON图标 -->
    <link rel="apple-touch-icon-precomposed" href="../../../../public/images/apple-touch-icon.png">
    <meta name="msapplication-TileImage" content="../../../../public/images/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#62a8ea">
    
    <!--[if lte IE 9]>
    <meta http-equiv="refresh" content="0; url='http://www.admui.com/ie'"/>
    <![endif]-->
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../../../public/themes/global/css/bootstrap.css">
    
    <!-- 字体图标 CSS -->
    <link rel="stylesheet" href="../../../../public/fonts/web-icons/web-icons.css">
    
    <!-- Site CSS -->
    <link rel="stylesheet" href="../../../../public/themes/base/css/site.css" id="admui-siteStyle">
    
    <!-- 插件 CSS -->
    
    <link rel="stylesheet" href="../../../../public/vendor/plyr/plyr.css">
    
    <!-- Page CSS -->
    
    
    <!-- 插件 -->
    <script src="../../../../public/vendor/jquery/jquery.min.js"></script>
    <script src="../../../../public/vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../../../../public/vendor/lodash/lodash.min.js"></script>
</head>
<body data-theme="base">

<div class="page animation-fade">
    <div class="page-header">
        <h1 class="page-title">覆盖层</h1>
        <div class="page-header-actions">
            <form>
                <div class="input-search input-search-dark">
                    <i class="input-search-icon wb-search" aria-hidden="true"></i>
                    <input type="text" class="form-control" name="" placeholder="搜索...">
                </div>
            </form>
        </div>
    </div>
    <div class="page-content">

        <div class="panel">
            <div class="panel-body container-fluid">
                <div class="row row-lg">
                    <div class="col-md-6">

                        <div class="example-wrap">
                            <h4 class="example-title">视频 &amp; 音频</h4>
                            <div class="example">
                                <div class="cover plyr">
                                    <video poster="http://cdn.admui.com/media/AngryBirds.png" controls crossorigin>

                                        <source type="video/mp4" src="http://cdn.admui.com/media/AngryBirds.mp4">
                                        <source type="video/webm" src="http://cdn.admui.com/media/AngryBirds.webm">
                                        <a href="http://cdn.admui.com/media/AngryBirds.mp4">下载</a>
                                    </video>
                                </div>
                            </div>
                            <div class="example">
                                <div class="cover plyr" style="overflow: visible">
                                    <audio controls>

                                        <source type="audio/mp3" src="http://cdn.admui.com/media/logistics-96-sample.mp3">
                                        <source type="audio/ogg" src="http://cdn.admui.com/media/logistics-96-sample.ogg">

                                        <a href="http://cdn.admui.com/media/logistics-96-sample.mp3">下载</a>
                                    </audio>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="example-wrap">
                            <h4 class="example-title">引用</h4>
                            <p>通过添加
                                <code>.cover-quote</code> 类实现。</p>
                            <div class="example">
                                <div class="blockquote cover">
                                    <blockquote class="blockquote cover-quote">风吹柳花满店香，吴姬压酒劝客尝。</blockquote>
                                </div>
                            </div>
                            <p>引用背景</p>
                            <div class="example">
                                <div class="cover">
                                    <div class="cover-background py-30" style="background-image: url('../../../../public/images/photos/city-2.jpg')">
                                        <blockquote class="blockquote cover-quote white">风吹柳花满店香，吴姬压酒劝客尝。</blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-6">

                        <div class="example-wrap">
                            <h4 class="example-title">Iframe</h4>
                            <p>通过添加
                                <code>.cover-iframe</code> 类实现。</p>
                            <div class="example">
                                <div class="cover">
                                    <iframe class="cover-iframe h-500 h-xs-300" src="http://www.admui.com"></iframe>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="example-wrap">
                            <h4 class="example-title">背景图片</h4>
                            <p>通过添加
                                <code>.cover-background</code> 类实现。</p>
                            <div class="example">
                                <div class="cover h-500 h-xs-300">
                                    <div class="cover-background" style="background-image: url('../../../../public/images/photos/city-1.jpg')"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-6">

                        <div class="example-wrap m-sm-0">
                            <h4 class="example-title">响应式图片</h4>
                            <p>通过添加
                                <code>.cover-image</code> 类实现。</p>
                            <div class="example">
                                <div class="cover">
                                    <img class="cover-image" src="../../../../public/images/photos/city-3.jpg" alt="...">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="example-wrap">
                            <h4 class="example-title">相册</h4>
                            <p>通过添加
                                <code>.cover-gallery</code> 类实现</p>
                            <div class="example">
                                <div class="cover">
                                    <div class="cover-gallery carousel slide" id="cover-gallery-example" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li class="active" data-target="#cover-gallery-example" data-slide-to="0"></li>
                                            <li data-target="#cover-gallery-example" data-slide-to="1"></li>
                                            <li data-target="#cover-gallery-example" data-slide-to="2"></li>
                                        </ol>
                                        <div class="carousel-inner" role="listbox">
                                            <div class="carousel-item active">
                                                <img alt="第1张图片" src="../../../../public/images/photos/city-4.jpg">
                                            </div>
                                            <div class="carousel-item">
                                                <img alt="第2张图片" src="../../../../public/images/photos/city-5.jpg">
                                            </div>
                                            <div class="carousel-item">
                                                <img alt="第3张图片" src="../../../../public/images/photos/city-6.jpg">
                                            </div>
                                        </div>

                                        <a class="carousel-control-prev" href="#cover-gallery-example" data-slide="prev"
                                           role="button">
                                            <span class="icon wb-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">上一张</span>
                                        </a>
                                        <a class="carousel-control-next" href="#cover-gallery-example" data-slide="next"
                                           role="button">
                                            <span class="icon wb-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">下一张</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- 插件 -->
    <script src="../../../../public/vendor/matchheight/jquery.matchHeight.min.js"></script>
<script src="../../../../public/vendor/plyr/plyr.js"></script>

    <script src="../../../../public/themes/base/js/app.js"></script>

<!-- Page JS -->

</body>
</html>