
<!DOCTYPE html>
<html class="no-js css-menubar" lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>导航 - UI示例 - Admui</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 移动设备 viewport -->
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="author" content="admui.com">
    <!-- 360浏览器默认使用Webkit内核 -->
    <meta name="renderer" content="webkit">
    <!-- 禁止搜索引擎抓取 -->
    <meta name="robots" content="nofollow">
    <!-- 禁止百度SiteAPP转码 -->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <!-- Chrome浏览器添加桌面快捷方式（安卓） -->
    <link rel="icon" type="image/png" href="../../../../public/images/favicon.png">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Safari浏览器添加到主屏幕（IOS） -->
    <link rel="icon" sizes="192x192" href="../../../../public/images/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Admui">
    <!-- Win8标题栏及ICON图标 -->
    <link rel="apple-touch-icon-precomposed" href="../../../../public/images/apple-touch-icon.png">
    <meta name="msapplication-TileImage" content="../../../../public/images/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#62a8ea">
    
    <!--[if lte IE 9]>
    <meta http-equiv="refresh" content="0; url='http://www.admui.com/ie'"/>
    <![endif]-->
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../../../public/themes/global/css/bootstrap.css">
    
    <!-- 字体图标 CSS -->
    <link rel="stylesheet" href="../../../../public/fonts/web-icons/web-icons.css">
    
    <!-- Site CSS -->
    <link rel="stylesheet" href="../../../../public/themes/base/css/site.css" id="admui-siteStyle">
    
    <!-- 插件 CSS -->
    
    
    <!-- Page CSS -->
    
    
    <!-- 插件 -->
    <script src="../../../../public/vendor/jquery/jquery.min.js"></script>
    <script src="../../../../public/vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../../../../public/vendor/lodash/lodash.min.js"></script>
</head>
<body data-theme="base">

<div class="page animation-fade">
    <div class="page-header">
        <h1 class="page-title">导航</h1>
        <div class="page-header-actions">
            <form>
                <div class="input-search input-search-dark">
                    <i class="input-search-icon wb-search" aria-hidden="true"></i>
                    <input type="text" class="form-control" name="" placeholder="搜索...">
                </div>
            </form>
        </div>
    </div>
    <div class="page-content container-fluid">

        <div class="panel">
            <div class="panel-body">
                <div class="row row-lg">
                    <div class="col-md-6">

                        <div class="example-wrap">
                            <h4 class="example-title">胶囊式导航</h4>
                            <div class="example">
                                <ul class="nav nav-pills">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" href="javascript:;">首页</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" href="javascript:;">个人简介</a>
                                    </li>
                                    <li class="nav-item" class="" role="presentation">
                                        <a class="nav-link disabled" href="javascript:;">消息</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="example-wrap">
                            <h4 class="example-title">带图标</h4>
                            <div class="example">
                                <ul class="nav nav-pills">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" href="javascript:;">
                                            <i class="icon wb-home" aria-hidden="true"></i> 首页</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" href="javascript:;">
                                            <i class="icon wb-user" aria-hidden="true"></i> 个人简介</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link disabled" href="javascript:;">
                                            <i class="icon wb-chat" aria-hidden="true"></i> 消息</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="example-wrap m-sm-0">
                            <h4 class="example-title">堆叠</h4>
                            <div class="example">
                                <ul class="nav nav-pills flex-column">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" href="javascript:;">
                                            <i class="icon wb-home" aria-hidden="true"></i> 首页</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" href="javascript:;">
                                            <i class="icon wb-user" aria-hidden="true"></i> 个人简介</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link disabled" href="javascript:;">
                                            <i class="icon wb-chat" aria-hidden="true"></i> 消息</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="example-wrap">
                            <h4 class="example-title">带下拉菜单</h4>
                            <div class="example">
                                <ul class="nav nav-pills">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" href="javascript:;">
                                            <i class="icon wb-home" aria-hidden="true"></i> 首页</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" href="javascript:;">
                                            <i class="icon wb-help-circle" aria-hidden="true"></i> 帮助
                                        </a>
                                    </li>
                                    <li class="nav-item" class="dropdown" role="presentation">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:;"
                                           aria-expanded="false" role="button">
                                            <i class="icon wb-wrench" aria-hidden="true"></i> 更多
                                        </a>
                                        <div class="dropdown-menu" role="menu">
                                            <a class="dropdown-item" href="javascript:;" role="menuitem">菜单项一</a>
                                            <a class="dropdown-item" href="javascript:;" role="menuitem">菜单项二</a>
                                            <a class="dropdown-item" href="javascript:;" role="menuitem">菜单项三</a>
                                            <a class="dropdown-item" href="javascript:;" role="menuitem">菜单项四</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="panel">
            <div class="panel-body">
                <div class="row row-lg">
                    <div class="col-xl-6">

                        <div class="example-wrap">
                            <h4 class="example-title">选项卡导航</h4>
                            <div class="example">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="javascript:;">首页</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="javascript:;">最新</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="javascript:;">最热</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="javascript:;">深度</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-6">

                        <div class="example-wrap">
                            <h4 class="example-title">线性</h4>
                            <div class="example">
                                <ul class="nav nav-tabs nav-tabs-line">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="javascript:;">首页</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="javascript:;">最新</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="javascript:;">最热</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="javascript:;">深度</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-6">

                        <div class="example-wrap m-lg-0">
                            <h4 class="example-title">竖向选项卡</h4>
                            <div class="example">
                                <div class="nav-tabs-vertical">
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="javascript:;">首页</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="javascript:;">最新</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="javascript:;">最热</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="javascript:;">深度</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-6">

                        <div class="example-wrap">
                            <h4 class="example-title">竖向线性</h4>
                            <div class="example">
                                <div class="nav-tabs-vertical">
                                    <ul class="nav nav-tabs nav-tabs-line">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="javascript:;">首页</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="javascript:;">最新</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="javascript:;">最热</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="javascript:;">深度</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- 插件 -->
    <script src="../../../../public/vendor/matchheight/jquery.matchHeight.min.js"></script>

    <script src="../../../../public/themes/base/js/app.js"></script>

<!-- Page JS -->

</body>
</html>