
<!DOCTYPE html>
<html class="no-js css-menubar" lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>价目表 - UI示例 - Admui</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 移动设备 viewport -->
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="author" content="admui.com">
    <!-- 360浏览器默认使用Webkit内核 -->
    <meta name="renderer" content="webkit">
    <!-- 禁止搜索引擎抓取 -->
    <meta name="robots" content="nofollow">
    <!-- 禁止百度SiteAPP转码 -->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <!-- Chrome浏览器添加桌面快捷方式（安卓） -->
    <link rel="icon" type="image/png" href="../../../../public/images/favicon.png">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Safari浏览器添加到主屏幕（IOS） -->
    <link rel="icon" sizes="192x192" href="../../../../public/images/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Admui">
    <!-- Win8标题栏及ICON图标 -->
    <link rel="apple-touch-icon-precomposed" href="../../../../public/images/apple-touch-icon.png">
    <meta name="msapplication-TileImage" content="../../../../public/images/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#62a8ea">
    
    <!--[if lte IE 9]>
    <meta http-equiv="refresh" content="0; url='http://www.admui.com/ie'"/>
    <![endif]-->
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../../../public/themes/global/css/bootstrap.css">
    
    <!-- 字体图标 CSS -->
    <link rel="stylesheet" href="../../../../public/fonts/web-icons/web-icons.css">
    
    <!-- Site CSS -->
    <link rel="stylesheet" href="../../../../public/themes/base/css/site.css" id="admui-siteStyle">
    
    <!-- 插件 CSS -->
    
    
    <!-- Page CSS -->
    
    
    <!-- 插件 -->
    <script src="../../../../public/vendor/jquery/jquery.min.js"></script>
    <script src="../../../../public/vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../../../../public/vendor/lodash/lodash.min.js"></script>
</head>
<body data-theme="base">

<div class="page animation-fade">
    <div class="page-header">
        <h1 class="page-title">价目表</h1>
        <div class="page-header-actions">
            <form>
                <div class="input-search input-search-dark">
                    <i class="input-search-icon wb-search" aria-hidden="true"></i>
                    <input type="text" class="form-control" name="" placeholder="搜索...">
                </div>
            </form>
        </div>
    </div>
    <div class="page-content">

        <div class="panel">
            <div class="panel-body container-fluid">

                <div class="example-wrap">
                    <h4 class="example-title">标题带背景</h4>
                    <div class="example">
                        <div class="row">
                            <div class="col-md-6 col-xl-3">
                                <div class="pricing-list">
                                    <div class="pricing-header">
                                        <div class="pricing-title">单核2G</div>
                                        <div class="pricing-price">
                                            <span class="pricing-currency">&yen;</span>
                                            <span class="pricing-amount">40</span>
                                            <span class="pricing-period">/ 月</span>
                                        </div>
                                    </div>
                                    <ul class="pricing-features">
                                        <li>
                                            <strong>10GB</strong> 存储空间
                                        </li>
                                        <li>
                                            <strong>200MB</strong> 单文件限制
                                        </li>
                                        <li>
                                            <strong>2G</strong> CPU
                                        </li>
                                        <li>
                                            <strong>256MB</strong> 内存
                                        </li>
                                    </ul>
                                    <div class="pricing-footer">
                                        <a class="btn btn-primary btn-outline" role="button">
                                            <i class="icon wb-arrow-right font-size-16 mr-15" aria-hidden="true"></i>开通
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-3">
                                <div class="pricing-list">
                                    <div class="pricing-header">
                                        <div class="pricing-title bg-blue-600">单核4G</div>
                                        <div class="pricing-price">
                                            <span class="pricing-currency blue-600">&yen;</span>
                                            <span class="pricing-amount blue-600">50</span>
                                            <span class="pricing-period">/ 月</span>
                                        </div>
                                    </div>
                                    <ul class="pricing-features">
                                        <li>
                                            <strong>10GB</strong> 存储空间
                                        </li>
                                        <li>
                                            <strong>200MB</strong> 单文件限制
                                        </li>
                                        <li>
                                            <strong>2G</strong> CPU
                                        </li>
                                        <li>
                                            <strong>256MB</strong> 内存
                                        </li>
                                    </ul>
                                    <div class="pricing-footer">
                                        <a class="btn btn-primary btn-outline" role="button">
                                            <i class="icon wb-arrow-right font-size-16 mr-15" aria-hidden="true"></i>开通
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-3">
                                <div class="pricing-list">
                                    <div class="pricing-header">
                                        <div class="pricing-title">双核2G</div>
                                        <div class="pricing-price">
                                            <span class="pricing-currency">&yen;</span>
                                            <span class="pricing-amount">60</span>
                                            <span class="pricing-period">/ 月</span>
                                        </div>
                                    </div>
                                    <ul class="pricing-features">
                                        <li>
                                            <strong>10GB</strong> 存储空间
                                        </li>
                                        <li>
                                            <strong>200MB</strong> 单文件限制
                                        </li>
                                        <li>
                                            <strong>2G</strong> CPU
                                        </li>
                                        <li>
                                            <strong>256MB</strong> 内存
                                        </li>
                                    </ul>
                                    <div class="pricing-footer">
                                        <a class="btn btn-primary btn-outline" role="button">
                                            <i class="icon wb-arrow-right font-size-16 mr-15" aria-hidden="true"></i>开通
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-3">
                                <div class="pricing-list">
                                    <div class="pricing-header">
                                        <div class="pricing-title">双核4G</div>
                                        <div class="pricing-price">
                                            <span class="pricing-currency">&yen;</span>
                                            <span class="pricing-amount">70</span>
                                            <span class="pricing-period">/ 月</span>
                                        </div>
                                    </div>
                                    <ul class="pricing-features">
                                        <li>
                                            <strong>10GB</strong> 存储空间
                                        </li>
                                        <li>
                                            <strong>200MB</strong> 单文件限制
                                        </li>
                                        <li>
                                            <strong>2G</strong> CPU
                                        </li>
                                        <li>
                                            <strong>256MB</strong> 内存
                                        </li>
                                    </ul>
                                    <div class="pricing-footer">
                                        <a class="btn btn-primary btn-outline" role="button">
                                            <i class="icon wb-arrow-right font-size-16 mr-15" aria-hidden="true"></i>开通
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="example-wrap">
                    <h4 class="example-title">头部带背景</h4>
                    <div class="example">
                        <div class="row">
                            <div class="col-md-6 col-xxl-3">
                                <div class="pricing-list text-left">
                                    <div class="pricing-header bg-blue-grey-600">
                                        <div class="pricing-title">单核2G</div>
                                        <div class="pricing-price">
                                            <span class="pricing-currency">&yen;</span>
                                            <span class="pricing-amount">40</span>
                                            <span class="pricing-period">/ 月</span>
                                        </div>
                                        <p class="px-30 pb-25">
                                            如有更高存储需求，可订购额外的数据盘接驳至主机：1G=1元/月</p>
                                    </div>
                                    <ul class="pricing-features">
                                        <li>
                                            <strong>10GB</strong> 存储空间
                                        </li>
                                        <li>
                                            <strong>200MB</strong> 单文件限制
                                        </li>
                                        <li>
                                            <strong>2G</strong> CPU
                                        </li>
                                        <li>
                                            <strong>256MB</strong> 内存
                                        </li>
                                        <li>
                                            <strong>*</strong> 除上述服务外，我们还提供标准服务、高级服务，及钻石服务等付费技术支持。
                                        </li>
                                    </ul>
                                    <div class="pricing-footer text-center bg-blue-grey-100">
                                        <a class="btn btn-primary btn-lg">
                                            <i class="icon wb-arrow-right font-size-16 mr-15" aria-hidden="true"></i>
                                            开通
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xxl-3">
                                <div class="pricing-list text-left">
                                    <div class="pricing-header bg-blue-600">
                                        <div class="pricing-title">单核4G</div>
                                        <div class="pricing-price">
                                            <span class="pricing-currency">&yen;</span>
                                            <span class="pricing-amount">50</span>
                                            <span class="pricing-period">/ 月</span>
                                        </div>
                                        <p class="px-30 pb-25">
                                            如有更高存储需求，可订购额外的数据盘接驳至主机：1G=1元/月</p>
                                    </div>
                                    <ul class="pricing-features">
                                        <li>
                                            <strong>10GB</strong> 存储空间
                                        </li>
                                        <li>
                                            <strong>200MB</strong> 单文件限制
                                        </li>
                                        <li>
                                            <strong>2G</strong> 带宽
                                        </li>
                                        <li>
                                            <strong>256MB</strong> 内存
                                        </li>
                                        <li>
                                            <strong>*</strong> 除上述服务外，我们还提供标准服务、高级服务，及钻石服务等付费技术支持。
                                        </li>
                                    </ul>
                                    <div class="pricing-footer text-center bg-blue-grey-100">
                                        <a class="btn btn-primary btn-lg">
                                            <i class="icon wb-arrow-right font-size-16 mr-15" aria-hidden="true"></i>
                                            开通
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xxl-3">
                                <div class="pricing-list text-left">
                                    <div class="pricing-header bg-red-600">
                                        <div class="pricing-title">双核2G</div>
                                        <div class="pricing-price">
                                            <span class="pricing-currency">&yen;</span>
                                            <span class="pricing-amount">60</span>
                                            <span class="pricing-period">/ 月</span>
                                        </div>
                                        <p class="px-30 pb-25">
                                            如有更高存储需求，可订购额外的数据盘接驳至主机：1G=1元/月</p>
                                    </div>
                                    <ul class="pricing-features">
                                        <li>
                                            <strong>10GB</strong> 存储空间
                                        </li>
                                        <li>
                                            <strong>200MB</strong> 单文件限制
                                        </li>
                                        <li>
                                            <strong>2G</strong> CPU
                                        </li>
                                        <li>
                                            <strong>256MB</strong> 内存
                                        </li>
                                        <li>
                                            <strong>*</strong> 除上述服务外，我们还提供标准服务、高级服务，及钻石服务等付费技术支持。
                                        </li>
                                    </ul>
                                    <div class="pricing-footer text-center bg-blue-grey-100">
                                        <a class="btn btn-primary btn-lg">
                                            <i class="icon wb-arrow-right font-size-16 mr-15" aria-hidden="true"></i>
                                            开通
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xxl-3">
                                <div class="pricing-list text-left">
                                    <div class="pricing-header bg-orange-600">
                                        <div class="pricing-title">双核4G</div>
                                        <div class="pricing-price">
                                            <span class="pricing-currency">&yen;</span>
                                            <span class="pricing-amount">70</span>
                                            <span class="pricing-period">/ 月</span>
                                        </div>
                                        <p class="px-30 pb-25">
                                            如有更高存储需求，可订购额外的数据盘接驳至主机：1G=1元/月</p>
                                    </div>
                                    <ul class="pricing-features">
                                        <li>
                                            <strong>10GB</strong> 存储空间
                                        </li>
                                        <li>
                                            <strong>200MB</strong> 单文件限制
                                        </li>
                                        <li>
                                            <strong>2G</strong> CPU
                                        </li>
                                        <li>
                                            <strong>256MB</strong> 内存
                                        </li>
                                        <li>
                                            <strong>*</strong> 除上述服务外，我们还提供标准服务、高级服务，及钻石服务等付费技术支持。
                                        </li>
                                    </ul>
                                    <div class="pricing-footer text-center bg-blue-grey-100">
                                        <a class="btn btn-primary btn-lg">
                                            <i class="icon wb-arrow-right font-size-16 mr-15" aria-hidden="true"></i>
                                            开通
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="example-example">
                    <h4 class="example-title">表格</h4>
                    <div class="example">
                        <div class="pricing-table">
                            <div class="pricing-column-four">
                                <div class="pricing-header">
                                    <div class="pricing-price">
                                        <span class="pricing-currency">&yen;</span>
                                        <span class="pricing-amount">40</span>
                                        <span class="pricing-period">/ 月</span>
                                    </div>
                                    <div class="pricing-title">单核2G</div>
                                </div>
                                <ul class="pricing-features">
                                    <li>
                                        <strong>10GB</strong> 存储空间
                                    </li>
                                    <li>
                                        <strong>200MB</strong> 单文件限制
                                    </li>
                                    <li>
                                        <strong>2G</strong> CPU
                                    </li>
                                    <li>
                                        <strong>256MB</strong> 内存
                                    </li>
                                </ul>
                                <div class="pricing-footer">
                                    <a class="btn btn-primary btn-outline" role="button">
                                        <i class="icon wb-arrow-right font-size-16 mr-15" aria-hidden="true"></i>开通
                                    </a>
                                </div>
                            </div>
                            <div class="pricing-column-four featured">
                                <div class="pricing-header">
                                    <div class="pricing-price">
                                        <span class="pricing-currency">&yen;</span>
                                        <span class="pricing-amount">50</span>
                                        <span class="pricing-period">/ 月</span>
                                    </div>
                                    <div class="pricing-title">单核4G</div>
                                </div>
                                <ul class="pricing-features">
                                    <li>
                                        <strong>10GB</strong> 存储空间
                                    </li>
                                    <li>
                                        <strong>200MB</strong> 单文件限制
                                    </li>
                                    <li>
                                        <strong>2G</strong> CPU
                                    </li>
                                    <li>
                                        <strong>256MB</strong> 内存
                                    </li>
                                </ul>
                                <div class="pricing-footer">
                                    <a class="btn btn-primary btn-outline" role="button">
                                        <i class="icon wb-arrow-right font-size-16 mr-15" aria-hidden="true"></i>开通
                                    </a>
                                </div>
                            </div>
                            <div class="pricing-column-four">
                                <div class="pricing-header">
                                    <div class="pricing-price">
                                        <span class="pricing-currency">&yen;</span>
                                        <span class="pricing-amount">60</span>
                                        <span class="pricing-period">/ 月</span>
                                    </div>
                                    <div class="pricing-title">双核2G</div>
                                </div>
                                <ul class="pricing-features">
                                    <li>
                                        <strong>10GB</strong> 存储空间
                                    </li>
                                    <li>
                                        <strong>200MB</strong> 单文件限制
                                    </li>
                                    <li>
                                        <strong>2G</strong> CPU
                                    </li>
                                    <li>
                                        <strong>256MB</strong> 内存
                                    </li>
                                </ul>
                                <div class="pricing-footer">
                                    <a class="btn btn-primary btn-outline" role="button">
                                        <i class="icon wb-arrow-right font-size-16 mr-15" aria-hidden="true"></i>开通
                                    </a>
                                </div>
                            </div>
                            <div class="pricing-column-four">
                                <div class="pricing-header">
                                    <div class="pricing-price">
                                        <span class="pricing-currency">&yen;</span>
                                        <span class="pricing-amount">70</span>
                                        <span class="pricing-period">/ 月</span>
                                    </div>
                                    <div class="pricing-title">双核4G</div>
                                </div>
                                <ul class="pricing-features">
                                    <li>
                                        <strong>10GB</strong> 存储空间
                                    </li>
                                    <li>
                                        <strong>200MB</strong> 单文件限制
                                    </li>
                                    <li>
                                        <strong>2G</strong> CPU
                                    </li>
                                    <li>
                                        <strong>256MB</strong> 内存
                                    </li>
                                </ul>
                                <div class="pricing-footer">
                                    <a class="btn btn-primary btn-outline" role="button">
                                        <i class="icon wb-arrow-right font-size-16 mr-15" aria-hidden="true"></i>开通
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<!-- 插件 -->
    <script src="../../../../public/vendor/matchheight/jquery.matchHeight.min.js"></script>

    <script src="../../../../public/themes/base/js/app.js"></script>

<!-- Page JS -->

</body>
</html>